<head>
	<title>Project Liger</title>
</head>
<body>
	<h1>Project Liger</h1>
	<p>Welcome to http://localhost:<%= port%></p>

	<a href="http://localhost:<%= port%>/signup">Create Account</a>
	<a href="http://localhost:<%= port%>/signin">Sign In</a>
</body>